@font-face {
    font-family: 'Aristocrat';
    src: url("../fonts/Aristocrat.ttf");
}

@font-face {
    font-family: 'AristocratSwash';
    src: url("../fonts/Aristocrat\ Swash.ttf");
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-image: url();
    background-color: #ffffff;
    font-family: 'Aristocrat';
}

.imgpasha {
    border-radius: 30px;
    box-shadow: 0 0 10px #444;
    margin: 10px auto;
    margin-bottom: 20px;
}

.navpasha {
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    box-shadow: 0 0 10px #444;
    width: 800px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
}

.psul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: 'AristocratSwash';
    padding: 10px;
    justify-content: space-between;
}

.psul2 {
    list-style: none;
    font-family: 'AristocratSwash';
    padding: 10px;
    justify-content: space-between;
}

.ps {}

a {
    padding: 3px;
}

.rt:link {
    text-decoration: none;
    background-color: #ffc5ca75;
    border-radius: 30px;
    box-shadow: 0 0 10px #444;
    color: #000000;
}

.rt:hover {
    text-decoration: none;
    background-color: #ff0026ea;
    color: #000000;
}

.tt:hover {
    text-decoration: none;
    background-color: #ffffffea;
    color: #000000;
}

.rt:visited {
    text-decoration: none;
    background-color: #ffc5ca75;
    color: #000000;
}

.rt:active {
    text-decoration: none;
    background-color: #ff002699;
    color: #000000;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    background-color: #ff727e75;
    border-radius: 30px;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

.psblock {
    margin: 20px 0 20px;
    font-size: 25px;
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    width: 800px;
    border-radius: 30px;
    box-shadow: 0 0 10px #444;
    padding: 10px;
    text-indent: 30px;
}

h1 {
    margin-top: 10px;
    margin-left: 50px;
    justify-content: space-between;
    width: 900px;
    font-size: 40px;
    font-weight: bold;
}